html {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Disable scroll bar on the bottom */
    overflow-x: hidden;
    color: #54575A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #F3F8F7 50%, #FFF9F5 95%);
}

.wrapper {
    position: relative;
    width: 1440px;
    /* min-height: 100vh; */
    height: 1379px;
    margin: auto;
}

.brand-img {
    position: absolute;
    width: 193px;
    height: 48px;
    left: 221px;
    top: 50px;
}

.title {
    position: relative;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 236px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
}

.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn {
    position: absolute;
    width: 138px;
    height: 46px;
    left: 221px;
    top: 531px;
}

.app-store-btn img {
    width: 138px;
    height: 46px;
}

.google-play-btn {
    position: absolute;
    width: 156px;
    height: 46px;
    left: 382px;
    top: 531px;
}

.google-play-btn img {
    width: 156px;
    height: 46px;
}

.main-image-container {
    position: absolute;
    width: 536px;
    height: 309px;
    left: 683px;
    top: 230px;
}

.main-image-container img {
    position: absolute;
}

.profile-img {
    position: absolute;
    height: 444px;
    left: 279px;
    height: 411px;
    top: 686px;
    right: 179px;
    top: 686px;
}

.product-img {
    position: absolute;
    height: 222px;
    left: 737px;
    right: 479px;
    top: 1157px;
}

.orders-img {
    position: absolute;
    height: 470px;
    left: 479px;
    right: 737px;
    top: 913px;
}

.cart-img {
    position: absolute;
    height: 222px;
    left: 221px;
    right: 995px;
    top: 1157px;
}

.home-img {
    position: absolute;
    height: 470px;
    left: 995px;
    right: 221px;
    top: 908px;
}


/* Background Toggles */

.background-toggles {
    position: absolute;
    right: 150px;
    top: 70px;
    display: flex;
}

.background-toggles>div {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}


/* Backgrounds */

.background-1 {
    background-color: #e3bcec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b865a7' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
    background-color: #dbe5de;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2399ac92' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.background-3 {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23787cb0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}