html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #ffffff 0%, #F3F8F7 50%, #FFF9F5 95%);
}

.wrapper {
    position: relative;
    width: 1440px;
    min-height: 100vh;
    margin: auto;
    background: dodgerblue;
}